.main-box {
  background-color: rgb(43, 43, 43);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .card {
    width: calc(90% / 3);
    margin-top: 10px;
  }
}
